NODE_ENV=development
HTTP_HOST=127.0.0.1
HTTP_PORT=8085
SESSION_SECRET=replace-with-a-long-random-value
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=traversex
DATABASE_USER=traversex
DATABASE_PASSWORD=replace-with-a-dedicated-password
FIREBASE_PROJECT_ID=replace-with-firebase-project-id
FIREBASE_CREDENTIALS_FILE=/etc/traversex/firebase/project-a.json
TRAVERSEX_INSTANCE_ID=project-a
